// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #9c9897;   // Default primary color
    --ion-color-danger: #f7cf2df6;    // Danger color for active state
    --ion-color-step-350: #f7cf2df6; /* Custom color for step 350 */
    --ion-background-color-step-350: #f0f0f0; /* Fallback color for background */
    --ion-background-color: #ffffff;
    
  } 